<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="APP_PREFIX" value="DOCUMENT-SERVICE" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %highlight(%-5level) [%cyan(${APP_PREFIX})] [%yellow(%thread)] %magenta(%logger{20}) : %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.ITQ.document_service.service.internal" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>